<html lang="{{@site.locale}}">
  <head>
    <!-- Sets user's preferred color scheme -->
    <script>
      const sysTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark" : "light" const localTheme = localStorage.getItem("theme") ||
      sysTheme document.documentElement.setAttribute("data-theme", localTheme
      === "system" ? sysTheme : localTheme)
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{asset 'build/index.css'}}" />
    {{ghost_head}}
  </head>
</html>

<body class="{{body_class}}">
  <div class="gh-viewport"></div>
</body>